#logoutlink {
    width: 100%;
    background-color: black;
    color: #eee;
    line-height: 2.5rem;
    padding: 10px;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-left: 94%;
    text-decoration: none;
}

#logoutlink:hover {
    background-color: darkblue;
    color: white;
}
