nav#mainmenu {
    width: 100%;
    background-color: #333;
    overflow: auto;
}

nav#mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

nav#mainmenu ul li {
    display: inline-block;
    background-color: #333;
    width: 20%;
    text-align: center;
}

nav#mainmenu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

nav#mainmenu ul li:hover > ul {
    display: inherit;
}

nav#mainmenu ul ul ul {
    left: 100%;
    top: 0;
}

nav#mainmenu a {
    display: block;
    padding: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 600px) {
    nav#mainmenu {
        position: relative;
    }

    nav#mainmenu ul {
        width: 100%;
        display: none;
    }

    nav#mainmenu ul li {
        width: 100%;
        text-align: left;
    }

    nav#mainmenu a {
        padding: 10px 15px;
    }
}
